.idea/
.DS_Store
Employee_MLB_Pandas/.ipynb_checkpoints/
Northwind_Pandas/.ipynb_checkpoints/
Penguins_Seaborn/.ipynb_checkpoints/
Penguins_Statistics/.ipynb_checkpoints/
Countries_Iris_Matplotlib/.ipynb_checkpoints/